body {
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    cursor: url(images/cursor.png), auto;
}

.title {
    margin: auto;
    width: fit-content;
    background-image: linear-gradient(to right, purple, violet);
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

/* the title */
h1 {
    text-align: justify;
    direction: rtl;
}

/* cursor types */
h1,
h2,
h3,
h4,
h5,
h6,
p,
textarea {
    cursor: url(images/text-cursor.png), auto;
}

a {
    cursor: url(images/pointer-cursor.png), auto;
}

.pubg2 {
    cursor: url(images/m24-cursor.png), auto;
}

/* my hero mania table */
.pubg {
    border: 5px solid;
    width: 280.8px;
    height: 312px;
    border-spacing: 0;
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

.pubg td,
.pubg th {
    border: 2px solid #000932;
    width: 50%;
    vertical-align: middle;
}

.pubg thead {
    background-color: #f8cd4b;
}

tbody tr:hover {
    background-color: coral;
}

tbody td:hover {
    color: red;
}

.pubg span {
    margin: 0;
    padding: 0;
}

/* pubg */
.mhm {
    border: 5px solid;
    width: 280.8px;
    height: 312px;
    border-spacing: 0;
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

.mhm td,
.mhm th {
    border: 2px solid #000932;
    width: 50%;
    vertical-align: middle;
}

.mhm thead {
    background-color: #f8cd4b;
}

tbody tr:hover {
    background-color: coral;
}

tbody td:hover {
    color: red;
}

.mhm span {
    margin: 0;
    padding: 0;
}

/* the 2nd name*/

table .child2 {
    display: none;
}

table .parent:hover .child {
    display: none;
}

table .parent:hover .child2 {
    display: inline-block;
}

/* selction */
::selection {
    background-color: black;
    color: orange;
}

.mhm2,
.pubg2 {
    display: inline-block;
}
/* back link */
.back {
    background-color: #a972f7;
    padding: 1% 2%;
    display: block;
    border: solid black 5px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: separate;
    margin-top: 1%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}